<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>	
<body>
	<fieldset class="ui-grid-c">
			<div class="ui-block-b">  
	    <input id="slider_audio" min="0" max="30" value="5" data-show-value="true" type="range">	    	</div>
			<div class="ui-block-b">  
	    <a id="bird1" data-icon="audio" data-iconpos="top" data-role="button" title="rossignol">oiseau 1</a>
	    	</div>
	    	<div class="ui-block-c">  
	    <a id="bird2" data-icon="audio" data-iconpos="top" data-role="button" title="chardonneret">oiseau 2</a>
	    	</div>
	    	<div class="ui-block-d">  
	    <a id="bird3" data-icon="audio" data-iconpos="top" data-role="button" title="poule">oiseau 3</a>
			</div>
	</fieldset>
<script src="js_client/js_client_accueil.js"></script>
</body>